/*------------------------------------*\
 *   RESET
 *   \*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
 *    v2.0b1 | 201101
 *       NOTE:WORK IN PROGRESS
 *          USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
}
ol,ul{
  list-style:none;
}
blockquote,q{
  quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
  content:'';
  content:none;
}
/* remember to define visible focus styles!
 * :focus{
 *   outline:?????;
 *   } */

/* remember to highlight inserts somehow! */
ins{
  text-decoration:none;
}
del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/*------------------------------------*\
*   MAIN
*   \*------------------------------------*/
/* GO! */

body {
  background: #eee;
  color: #666;
  font-family: 'CreteRoundRegular', Arial;
}

.menu-container {
  height: 50px;
  background: #333;
  width: 100%;
}

.layout {
  width: 960px;
  height: 100%;
  margin: 0 auto;
}

ul.menu {
  float: right;
}

ul.menu li {
  float: left;
}

.main {
  height: 300px;
}

.float-right {
  float: right;
}

.menu {
  color: #ccc;
}

h1, h2, h3 {
	color: #999;
	font-family: 'CreteRoundRegular', Arial;
}

h1 {
	font-size: 32px;
	margin-bottom: 16px;
}

h2 {
	font-size: 26px;
	margin-bottom: 13px;
}

.websymbol {
	font-family: 'WebSymbolsRegular';
}

.layout .left {
	border-right: 1px solid #999;
	float: left;
	padding-right: 20px;
	width: 220px;
}

.layout .right {
	float: right;
	width: 700px;
}

.menu li.icon {
	height: 24px;
	padding: 13px 0px;
	width: 40px;
}

.menu li.ip {
	height: 18px;
	font-size: 18px;
	padding: 16px 15px 16px 0px;
}

.menu .search, .user, .settings {
	height: 24px;
	width: 40px;
	display: block;
	background-repeat: no-repeat;
}

.menu .search {
	background-image: url('images/search.png');
}
.menu .settings {
	background-image: url('images/settings.png');
}
.menu .user {
	background-image: url('images/user.png');
}

@font-face{ 
  font-family: 'WebSymbolsRegular';
  src: url('./fonts/websymbols-regular-webfont.eot');
  src: url('./fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/websymbols-regular-webfont.woff') format('woff'),
       url('./fonts/websymbols-regular-webfont.ttf') format('truetype'),
       url('./fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}

@font-face {
  font-family: 'CreteRoundRegular';
  src: url('fonts/CreteRound-Regular-webfont.eot');
  src: url('fonts/CreteRound-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/CreteRound-Regular-webfont.woff') format('woff'),
       url('fonts/CreteRound-Regular-webfont.ttf') format('truetype'),
       url('fonts/CreteRound-Regular-webfont.svg#CreteRoundRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

