input {
	height: 32px;
	width: 200px;
	border: 1px solid #999;
	color: #666;
	font-size: 14px;
	padding: 0 5px;
	margin: 7px 0px 7px 0px;
}

label {
	font-size: 18px;
}

td {
	padding: 0px 0px 7px 0px;
}

.layout .left, .layout .right {
	padding-top: 50px;
}

.add-user-form {
	display: none;
}

.cancel-add-user {
	cursor: pointer;
	display: none;
}

.cancel-add-user:hover {
	color: #999;
}

.users-container h3 {
	margin-top: 5px;
}

.users-container h3:hover {
	color: #666;
	cursor: pointer;
}

.users-container h3 .websymbol {
	font-size: 18px;
	margin-left: 10px;
}

.users-container div {
	margin-bottom: 25px;
}

.users-container table {
	width: 550px;
}

td.name, td.ip {
	width: 25%;
}

td.email {
	width: 30%;
}

td.group {
	width: 5%;
}

td.buttons {
	width: 15%;
}

.button-tiny {
	float: right;
}